/* Welcome and glad you are viewing this. This website was carefully crafted by Andrea @ stand-alone.it */
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* ==|== VARIABLES ===================================================== */
@media only screen and (max-width: 992px) { .only-mobile { display: inline-block; }
  .only-desktop { display: none; } }
@media only screen and (max-width: 993px) { .only-mobile { display: none; }
  .only-desktop { display: inline-block; } }
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=09d936720de845e8ca9d)
 * Config saved to config.json and https://gist.github.com/09d936720de845e8ca9d
 */
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }

@media (min-width: 768px) { .container { width: 750px; } }
@media (min-width: 992px) { .container { width: 970px; } }
@media (min-width: 1200px) { .container { width: 1170px; } }
.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }

.row { margin-left: -15px; margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { min-height: 1px; padding-left: 15px; padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }

.col-xs-12 { width: 100%; }

.col-xs-11 { width: 91.66666667%; }

.col-xs-10 { width: 83.33333333%; }

.col-xs-9 { width: 75%; }

.col-xs-8 { width: 66.66666667%; }

.col-xs-7 { width: 58.33333333%; }

.col-xs-6 { width: 50%; }

.col-xs-5 { width: 41.66666667%; }

.col-xs-4 { width: 33.33333333%; }

.col-xs-3 { width: 25%; }

.col-xs-2 { width: 16.66666667%; }

.col-xs-1 { width: 8.33333333%; }

.col-xs-pull-12 { right: 100%; }

.col-xs-pull-11 { right: 91.66666667%; }

.col-xs-pull-10 { right: 83.33333333%; }

.col-xs-pull-9 { right: 75%; }

.col-xs-pull-8 { right: 66.66666667%; }

.col-xs-pull-7 { right: 58.33333333%; }

.col-xs-pull-6 { right: 50%; }

.col-xs-pull-5 { right: 41.66666667%; }

.col-xs-pull-4 { right: 33.33333333%; }

.col-xs-pull-3 { right: 25%; }

.col-xs-pull-2 { right: 16.66666667%; }

.col-xs-pull-1 { right: 8.33333333%; }

.col-xs-pull-0 { right: auto; }

.col-xs-push-12 { left: 100%; }

.col-xs-push-11 { left: 91.66666667%; }

.col-xs-push-10 { left: 83.33333333%; }

.col-xs-push-9 { left: 75%; }

.col-xs-push-8 { left: 66.66666667%; }

.col-xs-push-7 { left: 58.33333333%; }

.col-xs-push-6 { left: 50%; }

.col-xs-push-5 { left: 41.66666667%; }

.col-xs-push-4 { left: 33.33333333%; }

.col-xs-push-3 { left: 25%; }

.col-xs-push-2 { left: 16.66666667%; }

.col-xs-push-1 { left: 8.33333333%; }

.col-xs-push-0 { left: auto; }

.col-xs-offset-12 { margin-left: 100%; }

.col-xs-offset-11 { margin-left: 91.66666667%; }

.col-xs-offset-10 { margin-left: 83.33333333%; }

.col-xs-offset-9 { margin-left: 75%; }

.col-xs-offset-8 { margin-left: 66.66666667%; }

.col-xs-offset-7 { margin-left: 58.33333333%; }

.col-xs-offset-6 { margin-left: 50%; }

.col-xs-offset-5 { margin-left: 41.66666667%; }

.col-xs-offset-4 { margin-left: 33.33333333%; }

.col-xs-offset-3 { margin-left: 25%; }

.col-xs-offset-2 { margin-left: 16.66666667%; }

.col-xs-offset-1 { margin-left: 8.33333333%; }

.col-xs-offset-0 { margin-left: 0%; }

@media (min-width: 768px) { .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
  .col-sm-12 { width: 100%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-9 { width: 75%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-7 { width: 58.33333333%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-3 { width: 25%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-1 { width: 8.33333333%; }
  .col-sm-pull-12 { right: 100%; }
  .col-sm-pull-11 { right: 91.66666667%; }
  .col-sm-pull-10 { right: 83.33333333%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-8 { right: 66.66666667%; }
  .col-sm-pull-7 { right: 58.33333333%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-5 { right: 41.66666667%; }
  .col-sm-pull-4 { right: 33.33333333%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-2 { right: 16.66666667%; }
  .col-sm-pull-1 { right: 8.33333333%; }
  .col-sm-pull-0 { right: auto; }
  .col-sm-push-12 { left: 100%; }
  .col-sm-push-11 { left: 91.66666667%; }
  .col-sm-push-10 { left: 83.33333333%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-8 { left: 66.66666667%; }
  .col-sm-push-7 { left: 58.33333333%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-5 { left: 41.66666667%; }
  .col-sm-push-4 { left: 33.33333333%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-2 { left: 16.66666667%; }
  .col-sm-push-1 { left: 8.33333333%; }
  .col-sm-push-0 { left: auto; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-sm-offset-11 { margin-left: 91.66666667%; }
  .col-sm-offset-10 { margin-left: 83.33333333%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-8 { margin-left: 66.66666667%; }
  .col-sm-offset-7 { margin-left: 58.33333333%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-5 { margin-left: 41.66666667%; }
  .col-sm-offset-4 { margin-left: 33.33333333%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-2 { margin-left: 16.66666667%; }
  .col-sm-offset-1 { margin-left: 8.33333333%; }
  .col-sm-offset-0 { margin-left: 0%; } }
@media (min-width: 992px) { .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
  .col-md-12 { width: 100%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-9 { width: 75%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-7 { width: 58.33333333%; }
  .col-md-6 { width: 50%; }
  .col-md-5 { width: 41.66666667%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-3 { width: 25%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-1 { width: 8.33333333%; }
  .col-md-pull-12 { right: 100%; }
  .col-md-pull-11 { right: 91.66666667%; }
  .col-md-pull-10 { right: 83.33333333%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-8 { right: 66.66666667%; }
  .col-md-pull-7 { right: 58.33333333%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-5 { right: 41.66666667%; }
  .col-md-pull-4 { right: 33.33333333%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-2 { right: 16.66666667%; }
  .col-md-pull-1 { right: 8.33333333%; }
  .col-md-pull-0 { right: auto; }
  .col-md-push-12 { left: 100%; }
  .col-md-push-11 { left: 91.66666667%; }
  .col-md-push-10 { left: 83.33333333%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-8 { left: 66.66666667%; }
  .col-md-push-7 { left: 58.33333333%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-5 { left: 41.66666667%; }
  .col-md-push-4 { left: 33.33333333%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-2 { left: 16.66666667%; }
  .col-md-push-1 { left: 8.33333333%; }
  .col-md-push-0 { left: auto; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-md-offset-11 { margin-left: 91.66666667%; }
  .col-md-offset-10 { margin-left: 83.33333333%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-8 { margin-left: 66.66666667%; }
  .col-md-offset-7 { margin-left: 58.33333333%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-5 { margin-left: 41.66666667%; }
  .col-md-offset-4 { margin-left: 33.33333333%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-2 { margin-left: 16.66666667%; }
  .col-md-offset-1 { margin-left: 8.33333333%; }
  .col-md-offset-0 { margin-left: 0%; } }
@media (min-width: 1200px) { .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 { float: left; }
  .col-lg-12 { width: 100%; }
  .col-lg-11 { width: 91.66666667%; }
  .col-lg-10 { width: 83.33333333%; }
  .col-lg-9 { width: 75%; }
  .col-lg-8 { width: 66.66666667%; }
  .col-lg-7 { width: 58.33333333%; }
  .col-lg-6 { width: 50%; }
  .col-lg-5 { width: 41.66666667%; }
  .col-lg-4 { width: 33.33333333%; }
  .col-lg-3 { width: 25%; }
  .col-lg-2 { width: 16.66666667%; }
  .col-lg-1 { width: 8.33333333%; }
  .col-lg-pull-12 { right: 100%; }
  .col-lg-pull-11 { right: 91.66666667%; }
  .col-lg-pull-10 { right: 83.33333333%; }
  .col-lg-pull-9 { right: 75%; }
  .col-lg-pull-8 { right: 66.66666667%; }
  .col-lg-pull-7 { right: 58.33333333%; }
  .col-lg-pull-6 { right: 50%; }
  .col-lg-pull-5 { right: 41.66666667%; }
  .col-lg-pull-4 { right: 33.33333333%; }
  .col-lg-pull-3 { right: 25%; }
  .col-lg-pull-2 { right: 16.66666667%; }
  .col-lg-pull-1 { right: 8.33333333%; }
  .col-lg-pull-0 { right: auto; }
  .col-lg-push-12 { left: 100%; }
  .col-lg-push-11 { left: 91.66666667%; }
  .col-lg-push-10 { left: 83.33333333%; }
  .col-lg-push-9 { left: 75%; }
  .col-lg-push-8 { left: 66.66666667%; }
  .col-lg-push-7 { left: 58.33333333%; }
  .col-lg-push-6 { left: 50%; }
  .col-lg-push-5 { left: 41.66666667%; }
  .col-lg-push-4 { left: 33.33333333%; }
  .col-lg-push-3 { left: 25%; }
  .col-lg-push-2 { left: 16.66666667%; }
  .col-lg-push-1 { left: 8.33333333%; }
  .col-lg-push-0 { left: auto; }
  .col-lg-offset-12 { margin-left: 100%; }
  .col-lg-offset-11 { margin-left: 91.66666667%; }
  .col-lg-offset-10 { margin-left: 83.33333333%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-8 { margin-left: 66.66666667%; }
  .col-lg-offset-7 { margin-left: 58.33333333%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-5 { margin-left: 41.66666667%; }
  .col-lg-offset-4 { margin-left: 33.33333333%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-2 { margin-left: 16.66666667%; }
  .col-lg-offset-1 { margin-left: 8.33333333%; }
  .col-lg-offset-0 { margin-left: 0%; } }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after { content: " "; display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after { clear: both; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

.pull-right { float: right !important; }

.pull-left { float: left !important; }

.hide { display: none !important; }

.show { display: block !important; }

.invisible { visibility: hidden; }

.text-hide { font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }

.hidden { display: none !important; }

.affix { position: fixed; }

/* ==|== Snippets ===================================================== */
/* body copy -based on 6px baseline */
.text-xxsmall { font-size: 11px; line-height: 1.3em; }

.text-xsmall { font-size: 12px; line-height: 1.3em; }

.text-small { font-size: 14px; line-height: 1.4em; }

.text-normal { font-size: 16px; line-height: 1.6em; }

.text-medium { font-size: 20px; line-height: 1.6em; }

.text-big { font-size: 24px; line-height: 1.5em; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-highlight { color: #fff; background: #05aed8; display: inline; padding: 0; box-shadow: 10px 0 0 #05aed8, -10px 0 0 #05aed8; }

.underline { border-bottom: 1px solid #ccc; }

.underline:hover { border-bottom: 1px solid #666; }

.uppercase { text-transform: uppercase; }

.capitalize { text-transform: capitalize; }

.left { float: left; }

.right { float: right; }

.block { display: block; }

.inline-block { display: inline-block; }

.inline { display: inline; }

.riga { width: auto; }

.half { float: left; width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clear { clear: both; }

.relative { position: relative; }

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }

.clearfix:after { clear: both; }

.clearfix { zoom: 1; }

.padding-top { padding-top: 20px; }

/* ==|== Typography ===================================================== */
body { font-family: "Roboto", Helvetica, Arial, sans-serif; background: #f8f8f8; font-size: 18px; line-height: 1.6em; color: #555; font-weight: 300; min-width: 480px; text-align: center; }

h1, h2, h3, h4, h5, h6 { font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; font-weight: 400; line-height: 1.5em; text-rendering: optimizelegibility; clear: none; }

h1 { font-size: 32px; font-style: normal; font-weight: 600; }

h2 { font-size: 28px; font-style: normal; }

h3 { font-size: 24px; font-style: normal; }

h4 { font-size: 20px; font-style: normal; }

h5 { font-size: 18px; font-style: normal; }

h6 { font-size: 16px; font-style: normal; }

h1.pagetitle, .page-title h1, .page-title h2 { line-height: 1em; margin-bottom: 1em; }

a { color: #05aed8; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; outline: none; text-decoration: none; }

a:hover { color: #035e74; outline: none; text-decoration: none; }

a:focus, a:active { color: #0486a6; outline: none; text-decoration: none; }

.active { color: #035e74; outline: none; text-decoration: none; }

strong { font-weight: 400; }

ul, ol, li { list-style: none; margin: 0; padding: 0; }

img { max-width: 100%; vertical-align: bottom; }

::selection { background: #05aed8; color: #fff; }

::-moz-selection { background: #05aed8; color: #fff; }

.current { color: #fff !important; }

/* ==|== HTML AREA ===================================================== */
.htmlcontent a { text-decoration: none; outline: none; font-weight: 400; }

.htmlcontent a:hover { text-decoration: none; }

.htmlcontent strong { font-weight: 700; }

.htmlcontent em { font-style: italic; }

.htmlcontent em strong, .htmlcontent strong em { font-style: italic; font-weight: 700; }

.htmlcontent address, .htmlcontent blockquote { margin-bottom: 1.5em; padding: 0 1.5em; border-left: solid 3px #ccc; }

.htmlcontent hr { background-color: #ccc; color: #ccc; height: 1px; border: 0; }

.htmlcontent h1, .htmlcontent h2, .htmlcontent h3, .htmlcontent h4, .htmlcontent h5, .htmlcontent h6 { margin: 0 0 16px 0; }

.htmlcontent ul { padding: 0 0 20px 0; }

.htmlcontent ul, .htmlcontent ul li { list-style-type: disc; list-style-position: inside; }

.htmlcontent ul ul, .htmlcontent ul ul li { list-style-type: circle; list-style-position: outside; }

.htmlcontent ol { padding: 0 0 20px 20px; }

.htmlcontent ol, .htmlcontent ol li { list-style-type: decimal !important; list-style-position: outside; }

@media only screen and (max-width: 769px) { .htmlcontent { text-align: center; } }

.htmlcontent p img { vertical-align: middle; }

.htmlcontent .style1 { line-height: 16px; font-size: 32px; }

.htmlcontent .style2 { line-height: 16px; font-size: 30px; }

.htmlcontent .style3 { line-height: 16px; font-size: 28px; }

.htmlcontent .style4 { line-height: 19px; font-size: 26px; }

.htmlcontent .style5 { line-height: 20px; font-size: 24px; }

.htmlcontent .style6 { line-height: 22px; font-size: 22px; }

.htmlcontent .style7 { line-height: 22px; font-size: 20px; }

.htmlcontent .style8 { line-height: 22px; font-size: 18px; }

.htmlcontent table { background: transparent; border-collapse: separate; border-spacing: 4px; font-size: 12px; width: 100%; margin: 12px 0 24px; }

.htmlcontent table tr th, .htmlcontent table tr td { background: #fff; border: 1px solid #ccc; padding: 12px 12px; }

.htmlcontent table tr:nth-child(odd) td { background: #F0F0F0; }

.htmlcontent table tr th { font-size: 16px; font-weight: bold; color: #000; }

.htmlcontent table tr:hover td { background: #D8E6F2; }

.htmlcontent .gallery { clear: both; }

/* ==|== BUTTONS ===================================================== */
.btn { display: inline-block; vertical-align: bottom; border: 2px solid #05aed8; border-radius: 5px; padding: .4em 2em; color: #05aed8; font-size: inherit; font-family: "Roboto", Helvetica, Arial, sans-serif; font-weight: 400; letter-spacing: .0567em; text-transform: uppercase; text-decoration: none; }
.btn:hover { background: #05aed8; color: #fff; }
.btn:hover a { color: #fff; }

.btndown { display: inline-block; text-decoration: none; width: 100%; letter-spacing: 0.5em; border-radius: 5px; padding: .8em 2em; text-decoration: none; text-align: center; vertical-align: bottom; background: #05aed8; color: #fff; font-size: inherit; font-family: "Roboto", Helvetica, Arial, sans-serif; font-weight: 700; }
.btndown:hover { background: #0486a6; color: #fff !important; }
.btndown:active { background: #0486a6; color: #fff !important; }

/* ==|== GENERAL ===================================================== */
.wrapper { max-width: 980px; text-align: left; margin: 0 auto; }

.active { color: blue; }

#header { background: #227BC2; }
#header nav { background: #333; box-shadow: inset 0px -4px 6px -2px rgba(0, 0, 0, 0.8); color: #fff; padding: 16px 0; }
#header nav li { display: inline-block; margin-right: 1em; font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; }
#header nav a { color: #ccc; }
#header nav a:hover { color: #fff; }
#header ul.main-nav { text-align: left; }
@media only screen and (max-width: 769px) { #header ul.main-nav { text-align: center; } }
#header ul.social-nav { float: right; text-align: right; }
@media only screen and (max-width: 993px) { #header ul.social-nav { display: none; } }
#header ul.social-nav li { margin: 0 0 0 1em; }

.container { text-align: left; }

.main-container { padding: 2em 0; }
@media only screen and (max-width: 993px) { .main-container { margin: 0 30px; } }

article .htmlcontent { max-width: 760px; }

.sidebar { font-size: 14px; font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; }
.sidebar h3 { color: #05aed8; font-size: 20px; margin-bottom: 0; }
.sidebar p.sxptgray { line-height: 1.3; text-align: justify; }
@media only screen and (max-width: 993px) { .sidebar p.sxptgray { text-align: center; } }
.sidebar .btn { margin-bottom: 1em; }

#footer { background: #C9CED3; padding: 1em 0; font-size: 14px; }
#footer .credits { font-size: 12px; line-height: 1.3; text-align: left; }
#footer ul.footer-nav { font-size: 14px; text-align: right; }
#footer ul.footer-nav li { display: inline-block; margin-right: 1em; }

/* ==|== GENERAL ===================================================== */
.titlblue { font-size: 1.2em; color: #05aed8; }

.bluebig { font-size: 1em; color: #05aed8; }

.bluebig2 { font-size: 1em; color: #05aed8; font-size: 24px; }

/* ==|== Download ===================================================== */
