
/* ==|== Snippets ===================================================== */

/* body copy -based on 6px baseline */
.text-xxsmall 	{ font-size: 11px; line-height: 1.3em; }
.text-xsmall 	{ font-size: 12px; line-height: 1.3em; }
.text-small 	{ font-size: 14px; line-height: 1.4em; }
.text-normal 	{ font-size: 16px; line-height: 1.6em; }
.text-medium 	{ font-size: 20px; line-height: 1.6em; }
.text-big 		{ font-size: 24px; line-height: 1.5em; }

.text-left 		{ text-align: left; }
.text-right 	{ text-align: right; }
.text-center 	{ text-align: center; }
.text-highlight { color: #fff; background: $main-color; display: inline; padding: 0; box-shadow: 10px 0 0 $main-color, -10px 0 0 $main-color; }

.underline {border-bottom: 1px solid #ccc;}
.underline:hover {border-bottom: 1px solid #666;}
.uppercase {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}

.left { float: left; }
.right { float: right; }
.block { display: block; }
.inline-block { display: inline-block; }
.inline { display: inline; }
.riga {width: auto;}
.half {float: left; width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.clear { clear: both; }
.relative { position: relative; }

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  


.padding-top { padding-top: 20px; }


/* ==|== Typography ===================================================== */

body { font-family: $body-font; background: $body-bg; font-size: 18px; line-height: 1.6em; color: #555; font-weight: 300; min-width: 480px; 
		text-align: center; }

h1, h2, h3, h4, h5, h6 {font-family: $title-font; font-weight: 400; line-height: 1.5em; text-rendering: optimizelegibility; 
						clear: none;}

h1 {font-size: 32px; font-style: normal; font-weight: 600; }
h2 {font-size: 28px; font-style: normal; }
h3 {font-size: 24px; font-style: normal; }
h4 {font-size: 20px; font-style: normal; }
h5 {font-size: 18px; font-style: normal; }
h6 {font-size: 16px; font-style: normal; }

h1.pagetitle,
.page-title h1,
.page-title h2 { line-height: 1em; margin-bottom: 1em;  }

a 			{ color: $link-color; -webkit-transition: all .3s ease-in-out;  transition: all .3s ease-in-out; outline: none; text-decoration: none; }
a:hover 	{ color: darken($main-color, 20%);  outline: none; text-decoration: none; }
a:focus, 
a:active  	{ color: darken($link-color, 10%); outline: none; text-decoration: none;}

.active     { color: darken($main-color, 20%);  outline: none; text-decoration: none;}

strong {font-weight: 400;}

ul, ol, li { list-style: none; margin: 0; padding: 0;}

img {max-width: 100%; vertical-align: bottom;}

::selection {background: $main-color; color: #fff;}
::-moz-selection {background: $main-color; color: #fff;}

.current {
color: #fff !important;	
}

/* ==|== HTML AREA ===================================================== */


.htmlcontent { }
.htmlcontent a { text-decoration: none; outline: none; font-weight: 400;  }
.htmlcontent a:hover { text-decoration: none; }
.htmlcontent strong { font-weight: 700;}
.htmlcontent em { font-style: italic;}
.htmlcontent em strong,
.htmlcontent strong em { font-style: italic; font-weight: 700;}
//.htmlcontent p { margin: 0 0 1em 0;}
.htmlcontent address, .htmlcontent blockquote {	margin-bottom: 1.5em; padding: 0 1.5em; border-left: solid 3px #ccc;}
.htmlcontent hr { background-color: #ccc; color: #ccc;height: 1px; border: 0;}
.htmlcontent h1, .htmlcontent h2, .htmlcontent h3, .htmlcontent h4, .htmlcontent h5, .htmlcontent h6 { margin: 0 0 16px 0; }
.htmlcontent ul { padding: 0 0 20px 0; }
.htmlcontent ul,
.htmlcontent ul li { list-style-type: disc; list-style-position: inside; }
.htmlcontent ul ul,
.htmlcontent ul ul li {	list-style-type: circle; list-style-position: outside; }
.htmlcontent ol { padding: 0 0 20px 20px; } 
.htmlcontent ol,
.htmlcontent ol li { list-style-type: decimal !important;list-style-position: outside; }
.htmlcontent { @include MQ(S) { text-align: center; } }
.htmlcontent p img { vertical-align: middle; }

.htmlcontent .style1 { line-height: 16px; font-size: 32px;}
.htmlcontent .style2 { line-height: 16px; font-size: 30px;}
.htmlcontent .style3 { line-height: 16px; font-size: 28px;}
.htmlcontent .style4 { line-height: 19px; font-size: 26px;}
.htmlcontent .style5 { line-height: 20px; font-size: 24px;}
.htmlcontent .style6 { line-height: 22px; font-size: 22px;}
.htmlcontent .style7 { line-height: 22px; font-size: 20px;}
.htmlcontent .style8 { line-height: 22px; font-size: 18px;}

.htmlcontent table { background: transparent; border-collapse: separate; border-spacing: 4px; font-size: 12px; width: 100%; margin: 12px 0 24px;}
.htmlcontent table tr th,
.htmlcontent table tr td { background: #fff; border: 1px solid #ccc; padding: 12px 12px;}
.htmlcontent table tr:nth-child(odd) td { background: #F0F0F0;}
.htmlcontent table tr th { font-size: 16px; font-weight: bold; color: #000; }
.htmlcontent table tr:hover td { background: #D8E6F2;}

.htmlcontent .gallery { clear: both; }


/* ==|== BUTTONS ===================================================== */
.btn {
	display: inline-block;
	vertical-align: bottom;
	border: 2px solid $main-color;
	border-radius: 5px;
	padding: .4em 2em;
	color: $main-color; font-size: inherit; font-family: $sans-font; font-weight: 400; 
	letter-spacing: .0567em; text-transform: uppercase; text-decoration: none;
	
	&:hover {
		background: $main-color;
		color: #fff;
		a { color: #fff; }
	}
}

.btndown{
	display: inline-block;
	text-decoration: none;
	width: 100%;
	letter-spacing: 0.5em;
	border-radius: 5px;
	padding: .8em 2em;
	text-decoration: none;
	text-align: center;
	vertical-align: bottom;
	background: $main-color;
	color: #fff; font-size: inherit; font-family: $sans-font; font-weight: 700; 	
	
	
	&:hover { background: darken($main-color, 10%); color: #fff !important; }
	&:active { background: darken($main-color, 10%); color: #fff !important; }
}
