/* ==|== GENERAL ===================================================== */

.wrapper { max-width: 980px; text-align: left; margin: 0 auto; }
.active{ color: blue;}

#header {
	background: #227BC2;
	
	nav {
		background: #333; box-shadow: inset 0px -4px 6px -2px rgba(0,0,0,0.8);
		color: #fff;
		padding: 16px 0;
		
		li { 
			display: inline-block; margin-right: 1em; font-family: $condensed-font;
			
		}
		a { color: #ccc; &:hover { color: #fff; } }
	}
	
	ul.main-nav { text-align: left; @include MQ(S) { text-align: center; } }
	ul.social-nav { 
		float: right; text-align: right; 
		@include MQ(M) { display: none; }
		li { margin: 0 0 0 1em;}
	}

}

.container {text-align: left;}


.main-container { 
	padding: 2em 0; 
	@include MQ(M) { margin: 0 30px; }
}
article .htmlcontent { max-width: 760px;}

.sidebar { 
	font-size: 14px; font-family: $condensed-font; 
	h3 { color: $main-color; font-size: 20px; margin-bottom: 0;  }
	p.sxptgray { line-height: 1.3; text-align: justify;  @include MQ(M) {text-align: center; } }
	.btn { margin-bottom: 1em; }
}

#footer {
	
	background: #C9CED3;
	padding: 1em 0;
	font-size: 14px;
	
	.credits { font-size: 12px; line-height: 1.3; text-align: left; }
	ul.footer-nav { 
		font-size: 14px;  text-align: right;
		li { display: inline-block; margin-right: 1em; }
	}
}


/* ==|== GENERAL ===================================================== */
.titlblue { font-size: 1.2em; color: $main-color;  }
.bluebig  { font-size: 1em;  color: $main-color; }
.bluebig2  { font-size: 1em;  color: $main-color; font-size: 24px; }



/* ==|== Download ===================================================== */
