/* ==|== VARIABLES ===================================================== */


$main-color: 	#05aed8;
$main-color-hover: #008bae;
$second-color:	#676b6b;
$text-color:	#727777;
$link-color:	#05aed8;
$body-bg:		#f8f8f8;


$body-font:			'Roboto', Helvetica, Arial, sans-serif;
$title-font:		'Roboto Condensed', Helvetica, Arial, sans-serif;
$sans-font:			'Roboto', Helvetica, Arial, sans-serif;
$condensed-font:	'Roboto Condensed', Helvetica, Arial, sans-serif;

// Media Queries
$XS:	480px; 
$S:		768px;    
$M:   	992px;   
$L:   	1024px;
$XL: 	1200px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == XS {
   @media only screen and (max-width: $XS+1) { @content; } 
  }
  @if $canvas == S {
   @media only screen and (max-width: $S+1) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (max-width: $M+1) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (max-width: $L+1) { @content; } 
  }
  @else if $canvas == XL {
   @media only screen and (max-width: $XL+1) { @content; } 
  }
}


@media only screen and (max-width: $M) { 
	.only-mobile {display: inline-block;}
	.only-desktop {display: none;}
} 
  
@media only screen and (max-width: $M + 1) { 
	.only-mobile {display: none;}
	.only-desktop {display: inline-block;}
} 
  