@charset "UTF-8";

a:link {
	color: #676b6b;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #676b6b;
}
a:hover {
	text-decoration: none;
	color: #05aed8;
}
a:active {
	text-decoration: none;
	color: ;
	color: #676b6b;
}
/* style link alternativo --------------- */
a.luen:link {
	color: #05aed8;
	text-decoration: none;	
	font-style: normal;
}
a.luen:visited {
	color: #05aed8;
	text-decoration: none;
}
a.luen:hover {
	color: #05aed8;
	text-decoration: none;
	font-style: italic;
}
a.luen:active {
	color: #05aed8;
	text-decoration: none;
}

/* non utilizzato da nessuna parte ancora */
h6 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #05aed8;
	font-size:16px;
	font_style: normal;
	font-weight:lighter;
	/*line-height:22px;*/
	letter-spacing: 0,5 pt;
	text-align: left;
}

/* ---------------------- allineamento barra menu ------------------------ */
#ordbar{
	text-align:center;
	margin-bottom: 15px;
}
/* ----------------------------------------------------------------------- */


/* titoli blu della pagina principale */
.titlblue {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #05aed8;
	font-size:16px;
	font_style: normal;
	font-weight:lighter;
	line-height:26px;
	letter-spacing: 0,5 pt;
	text-align: left;
}
/* titolo blu barra destra vetrina software */
.sxptblue {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #05aed8;
	font-size:16px;
	font_style: normal;
	font-weight:lighter;
	letter-spacing: 0,5 pt;
	text-align: left;
	margin-bottom: 2px;
	margin-left: 44px;
	margin-right: 44px;
}
/* testo grigio barra destra vetrina software*/
.sxptgray {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #727777;
	font-size:13px;
	font_style: normal;
	font-weight:lighter;
	line-height:20px;
	letter-spacing: 0,5 pt;
	margin-top: 2px;
	margin-left: 44px;
	margin-right: 44px;
	text-align: justify;
}

/*
.ordbox{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 30px;	
	margin-bottom: 5px;
}
*/


/* didascalia sotto il titolo blu pagina principale*/
.litgrytxt {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #727777;
	font-size:14px;
	font_style: normal;
	font-weight:lighter;
	line-height:20px;
	letter-spacing: 0,5 pt;
	margin-left: 14px;
}

.litgrytxtjusty {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #727777;
	font-size:14px;
	font_style: normal;
	font-weight:lighter;
	line-height:20px;
	letter-spacing: 0,5 pt;
	margin-left: 14px;
	margin-right: 14px;
	text-align: justify;
}
/* testo alla fine della pagina (little menu) */
.graytxt {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #676b6b;
	font-size:14px;
	font_style: normal;
	font-weight:lighter;
	line-height:22px;
	letter-spacing: 0,5 pt;
	
}
/* testo alla fine della pagina info dataorg e copyright */
.didasc {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #676b6b;
	font-size:13px;
	font_style: normal;
	font-weight:lighter;
	line-height:22px;
	letter-spacing: 0,5 pt;
}
/* colora testo per evidenziarlo: Tel, e-mail */
.blue {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #05aed8;
	font-size:13px;
	font_style: normal;
	font-weight:lighter;
	line-height:22px;
	letter-spacing: 0,5 pt;
}

.bluebig {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #05aed8;
	font-size:14px;
	font_style: normal;
	font-weight:lighter;
	line-height:20px;
	letter-spacing: 0,5 pt;
	font-style: italic;
}
centrin {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}.mienz {
	text-align: center;
}

input {
	border-style: none;
    border-color: inherit;
    border-width: 0px;
        height: 18px;
	    padding: 4px 9px 4px 9px;
	    color: #999;
	    font-size:12px;     letter-spacing:1pt;     font-weight:lighter;     font-style:italic; 
	    font-family:"Helvetica", Arial, Trebuchet MS, sans-serif;
	    border-radius: 6px 6px 6px 6px;
    width: 175px;
}

textarea 
{
    resize:none;
    border-style: none;
    border-color: inherit;
    border-width: 0px;
        height: 50px;
	    padding: 4px 9px 4px 9px;
	    color: #000000;
	    font-size:12px;     letter-spacing:1pt;     font-weight:lighter;     font-style:normal; 
	    font-family:"Helvetica", Arial, Trebuchet MS, sans-serif;
	    border-radius: 6px 6px 6px 6px;
}